/**
 * Styles for chat.
 */

.yugi-main-chat {
	background: #fff;
	height: 134px;
	position: relative;
}

.yugi-chat-window {
}

.yugi-chat-area {
	border: INPUT_BORDER;
	height: 106px;
	overflow: auto;
}

.yugi-chat {
	font-size: 12px;
	margin: 0 5px;
	text-align: left;
}

.yugi-chat-opponent {
	color: #FF4040;
}

.yugi-chat-player {
	color: #1E90FF;
}

.yugi-chat-sender {
	font-weight: bold;
}

.yugi-chat-text {
	margin-left: 5px;
}

.yugi-chat-text > button {
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.yugi-chat-input {
	bottom: 0;
	left: 0;
	margin: -1px 0 0;
	position: absolute;
	right: 0;
}
