/**
 * Styles for the main portion of the game.
 */

@def CARD_Z_INDEX                         10;

body {
	margin: 0;
	padding: 10px;
}

#centered {
	background: #fff;
	border-left: CONTENT_BORDER;
  border-right: CONTENT_BORDER;
  margin: auto;
  max-width: 1600px;
  min-width: 900px;
  position: relative;
  @mixin box_shadow(0 0 10px #555);
}

.yugi-main-root {
}

.yugi-left-content {
	bottom: 10px;
	left: 10px;
	position: absolute;
	top: 10px;
	width: 220px;
}

.yugi-left-content-container {
  height: 100%;
  position: relative;
}

.yugi-main-content {
	margin-left: 240px;
}

.yugi-main-content-container {
	margin-right: 10px;
	padding-bottom: 10px;
}

.yugi-mode-swapper {
	min-height: 500px;
}

.yugi-mode-swapper-container {
	color: NORMAL_COLOR;
	padding-top: 10px;
}

.yugi-game-title {
  font-size: 32px;
}

.yugi-game-title-text {
	border-bottom: NORMAL_BORDER;
	padding-left: 20px;
  width: 500px;
}

/**
 * Overridden selection CSS.
 */
.yugi-selection-container {
	bottom: 48px;
	position: absolute;
	top: 47px;
}

.yugi-selection {
	height: 100%;
	position: relative;
}

.yugi-selection-detail {
	bottom: 0;
	height: auto;
	position: absolute;
	top: 326px;
}
