
{namespace yugi.game.ui.attack.soy}


/**
 * The HTML for the attack mask.
 */
{template .MASK}
  <div class="{css yugi-attack-mask}"></div>
{/template}


/**
 * The HTML for the attack sword.
 */
{template .SWORD}
  <img src="/images/sword.png" class="{css yugi-sword}">
  </img>
{/template}
