/**
 * The CSS for deck selection.
 */

.yugi-deck-select-container {
	font-size: 12px;
	margin-top: 10px;
	max-height: 500px;
	overflow: auto;
}

.yugi-game-sub-title {
	font-size: 18px;
	font-style: italic;
	margin: 15px 0 0 10px;
}

.yugi-deck-select-sign-in {
	padding: 15px 40px;
}

.yugi-decks {
}

.yugi-deck-image {
  height: 154px;
  width: 108px;
}

.yugi-deck-image:hover {
	outline: SELECTED_BORDER;
}

.yugi-deck {
  color: NORMAL_COLOR;
  cursor: pointer;
  margin: 9px;
  vertical-align: top;
}

.yugi-deck-name {
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}
