/*
 * The CSS for the waiting widget.
 */

.yugi-waiting-text {
	font-size: 18px;
  font-style: italic;
  margin-top: 150px;
  padding: 40px;
}

.yugi-game-join-link {
	color: #00f;
	cursor: pointer;
	margin: 15px 0 0;
	width: 100%;
	@mixin border_radius(5px);
}
