/**
 * The CSS for the deck editor.
 */

.yugi-selection {
	float: left;
}

.yugi-deck-editor-swapper {
	margin-left: 240px;
}

.yugi-deck-browser-container {
	border: 1px solid #333;
	height: 672px;
	margin-top: -3px;
}

#name-status {
	margin-bottom: 10px;
}

.yugi-deck-name {
	cursor: pointer;
	display: inline-block;
	font-size: 22px;
	font-weight: bold;
	margin-right: 10px;
}

.yugi-read-only .yugi-deck-name {
	cursor: auto;
}

.yugi-deck-status {
	color: #555;
	display: inline-block;
}

.yugi-deck-status.yugi-error {
	color: ERROR_COLOR;
}

.yugi-deck-browser button {
	margin: 15px;
}

.yugi-deck-tabs {
	padding: 0 10px;
}

.yugi-deck-tab {
	background-color: #eee;
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	color: #777;
	font-weight: normal;
	margin-left: 5px;
	margin-right: 5px;
	text-shadow: none;
	width: 150px;
}

.yugi-deck-tab.yugi-deck-tab-selected {
	background-color: #fff;
	color: #333;
	font-weight: bold;
}

.yugi-card-browser {
	border-top: 1px solid #333;
	height: 601px;
	overflow: auto;
	padding: 6px;
}

.yugi-read-only .yugi-card-browser {
	height: 660px;
}

.yugi-card-browser-card-container {
	margin: 6px;
}

.yugi-read-only .yugi-card-browser {
	border: none;
}

.yugi-deck-editor-search-results {
	border: 1px solid #333;
	height: 653px;
	overflow: auto;
	position: relative;
}

.yugi-deck-editor-buttons {
	margin-top: 10px;
	text-align: right;
	width: 100%;
}

.yugi-deck-editor-buttons > button {
	margin-left: 10px;
	width: 120px;
}

.yugi-deck-editor-search {
	position: relative;
}

.yugi-search-name-input {
	width: 360px;
}

.yugi-back-to-deck {
	position: absolute;
	right: 0;
	top: 0;
}
