/**
 * Styles for the launcher.
 */

@def GAME_GRADIENT_FALLBACK        #ffd65e;
@def GAME_GRADIENT                 top, GAME_GRADIENT_FALLBACK 0%, #febf04 100%;

.yugi-launcher {
	height: 420px;
  text-align: left;
}

.yugi-landing-column {
	margin-top: -15px;
}

.yugi-landing-column.left {
	float: left;
	width: 40%;
}

.yugi-landing-column.right {
	float: right;
	width: 60%;
}

.yugi-landing-column.right > * {
	padding-left: 40px;
}

.yugi-landing-column > p {
	margin: 0 0 15px;
  text-align: left;
}

.yugi-game-joiner {
	margin-top: 15px;
}

.yugi-game-joiner {
	height: 300px;
	overflow: auto;
	padding-top: 0;
}

.yugi-game-starter > button {
	width: 100%;
}

.yugi-game-container {
	border: 1px solid #333;
	height: 32px;
	margin-bottom: 5px;
	padding: 5px;
	text-align: left;
	@mixin linear_gradient(GAME_GRADIENT, GAME_GRADIENT_FALLBACK);
}

.yugi-game-container > button {
	float: right;
}

.yugi-game-name {
	color: #333;
	font-weight: bold;
	overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
	width: 284px;
}
