/**
 * Styles for the field.
 */

.yugi-field {
	position: relative;
	text-align: center;
}

.yugi-field-image-container {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
}

.yugi-field-image-container > img {
	margin-left: -21%;
	margin-top: -50%;
	width: 143%;
}

/*
 * The height here will be set programmatically based on the computed width.
 * This is done to maintain the aspect ratio of the card.
 */
.yugi-card-size {
  width: 7.5%;
}

.yugi-card-size:first-child {
	margin-left: 0;
}

.yugi-card-size:last-child {
	margin-right: 0;
}

.yugi-empty-zone,
.yugi-card-zone {
	margin-bottom: 14px;
  margin-top: 14px;
  margin-left: 1.8%;
  margin-right: 1.8%;
  vertical-align: top;
}

.yugi-card-zone {
	background-color: #fff;
	border: 1px solid black;
	font-size: 12px;
	text-align: center;
}

/** TODO Get rid of this in favor of yugi-card-zone-label. */
.yugi-card-zone .yugi-label {
	margin-top: 35px;
}

.yugi-card-zone-label {
	background-color: #fff;
	bottom: -18px;
	color: #000;
	font-size: 10px;
	left: 50%;
	margin-left: -30px;
	opacity: 0.7;
	position: absolute;
	text-align: center;
	width: 60px;
}

.yugi-card-zone-label.opponent {
	bottom: auto;
  top: -18px;
}

.yugi-card-zone-label > div {
	margin-top: 1px;
}

.yugi-hand-container {
	margin-top: 10px;
	overflow: hidden;
}

.yugi-hand-container.opponent {
	margin-bottom: 16px;
  margin-top: 0px;
  position: relative;
}

.yugi-monster-card,
.yugi-spell-trap-card,
.yugi-field-card {
  z-index: CARD_Z_INDEX;
}

img.yugi-card-size {
	cursor: pointer;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: CARD_Z_INDEX;
}

.yugi-monster-card > img.face-down-defense,
.yugi-monster-card > img.face-up-defense {
	@mixin transform(rotate(-90deg));
}

.yugi-field-card.opponent > img,
.yugi-monster-card.opponent > img.face-up-attack,
.yugi-spell-trap-card.opponent > img.face-up {
	@mixin transform(rotate(180deg));
}

.yugi-card-stack {
	position: relative;
}

.yugi-card-stack > .yugi-card {
	cursor: pointer;
	position: absolute;
	width: 100%;
	z-index: CARD_Z_INDEX;
}

.yugi-card-stack.opponent > img {
  @mixin transform(rotate(180deg));
}

.yugi-player-control-container {
	position: relative;
}
