
{namespace yugi.game.ui.hand.soy}



/**
 * The HTML for a card in the hand.
 * @param imageSource The source of the card image.
 */
{template .CARD}
  <div class="{css yugi-hand-card-container}{sp}{css goog-inline-block}">
    <img src="{$imageSource}" class="{css yugi-hand-card}">
    </img>
  </div>
{/template}
