
{namespace yugi.ui.footer.soy}

/**
 * The HTML for the footer.
 */
{template .HTML}
  <div class="{css yugi-footer}">
    Yu-Gi-Oh! is a trademark of Kazuki Takahashi, Shueisha, Konami Japan, etc.
    &copy;1996-2012. All rights reserved.
  </div>
{/template}
