/*
 * CSS for the landing page.
 */

body > a {
	display: none;
}

.yugi-landing-heading {
	display: inline-block;
	font-size: 19px;
	font-weight: bold;
	margin: 15px 0;
}

.yugi-game-joiner-heading {
	text-align: left;
}

.yugi-game-joiner-heading > div,
.yugi-game-joiner-heading > img,
.yugi-game-joiner-heading > button {
  vertical-align: middle;
}

.yugi-game-joiner-heading-waiting {
	margin-left: 10px;
}
