/**
 * Styles for administration.
 */

.yugi-admin-notice-banner {
	position: absolute;
	text-align: center;
	top: 45px;
	width: 100%;
}

.yugi-admin-notice-container {
	background-color: #F9EDBE;
	border: 1px solid #F0C36D;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	color: #333;
	padding: 2px 8px;
	overflow: hidden;
}

.yugi-admin-notice-container.yugi-notice-error {
	background-color: #F55;
	border-color: #8B0000;
}

.yugi-admin-invalid {
	color: ERROR_COLOR;
}

.yugi-admin-cancel {
	background-color: ERROR_COLOR;
}

.yugi-admin-cancel.goog-button-disabled {
  background-color: #a00;
}
