/**
 * Styles for administration.
 */

body {
	margin-top: 25px;
}

#centered-content {
	margin: auto;
	width: 900px;
}

.yugi-admin-header {
	margin-bottom: 30px;
	position: relative;
}

.yugi-admin-title {
  width: 450px;
  border-bottom: 1px solid black;
}

.yugi-admin-main-text {
	font-size: 32px;
	font-style: italic;
	margin-bottom: 5px;
}

.yugi-admin-sub-text {
	color: ERROR_COLOR;
	font-size: 20px;
	margin-left: 10px;
}

.yugi-admin-links {
	text-align: right;
	width: 450px;
}

.yugi-admin-links a {
	font-size: 12px;
	margin-left: 12px;
}

.yugi-admin-notice-banner {
	position: absolute;
	text-align: center;
	top: 45px;
	width: 100%;
}

.yugi-admin-notice-container {
	background-color: #F9EDBE;
	border: 1px solid #F0C36D;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	color: #333;
	padding: 2px 8px;
	overflow: hidden;
}

.yugi-admin-notice-container.yugi-notice-error {
	background-color: #F55;
	border-color: #8B0000;
}

.yugi-admin-invalid {
	color: ERROR_COLOR;
}

.yugi-admin-cancel {
	background-color: ERROR_COLOR;
}

.yugi-admin-cancel.goog-button-disabled {
  background-color: #a00;
}
