/**
 * The CSS for the admin card search screen.
 */

.yugi-selection {
	float: left;
}

.yugi-admin-search {
  margin-left: 240px;
}

.yugi-admin-search-results {
	border: SEARCH_RESULTS_BORDER;
  height: 653px;
  overflow: auto;
  position: relative;
}
