/**
 * The CSS for the admin card search screen.
 */

.yugi-admin-search {
	display: inline-block;
  margin-left: 20px;
  vertical-align: top;
  width: 660px;
}

.yugi-admin-search-results {
	border: SEARCH_RESULTS_BORDER;
  height: 655px;
  overflow: auto;
  position: relative;
}
