
{namespace yugi.admin.search.ui.soy}


/**
 * The HTML for the search UI.
 * @param ids The DOM IDs used in the template.
 */
{template .SEARCH}
  <div id="{$ids.FORM|id}">
  </div>
  <div id="{$ids.RESULTS|id}" class="{css yugi-admin-search-results}">
  </div>
{/template}
