/**
 * Styles for the browser container.
 */

.yugi-game-card-browser {
	width: 100%;
}

.yugi-card-browser {
	border-bottom: 1px solid #999;
	margin-top: 10px;
	max-height: 500px;
	overflow: auto;
	text-align: left;
}

.yugi-card-browser-card-container {
  margin: 6px 8px;
}

.yugi-game-browser-container-buttons {
	margin: 4px;
	text-align: right;
}
