/**
 * Styles for the browser container.
 */

.yugi-browser-container {

}

.yugi-game-card-browser {
	width: 100%;
}

.yugi-card-browser {
	border-bottom: 1px solid #999;
	height: 470px;
	margin: 10px 20px 10px 10px;
	overflow: auto;
	text-align: left;
}

.yugi-game-browser-container-buttons {
	margin-right: 20px;
	text-align: right;
}
